<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a routerLink='/'>Home</a></li>
        <li role="presentation"><a routerLink='/servers'>Servers</a></li>
        <li role="presentation"><a routerLink='/users'>Users</a></li>
        
        <!-- other ways of defining router links: -->
        <!-- [routerLink] = "'/something'" -->
        <!-- [routerLink] = "someProperty" -->

        <!-- following path is for domain/users/something -->
        <!-- [routerLink] = "['/users', 'something']" -->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
